* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}
.App {
  text-align: center;
}

/*
//////////////////////////////////
Header
//////////////////////////////////
*/
.headerTop {
  background: #6441a4;
  height: 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}
.listMenu{
  list-style-type: none;
  height: 50px;
  display: flex;
  align-items: center;
  width: 100%;
}
.linkNav{
  list-style-type: none;
  padding:0 20px;
}
.linkNav:nth-child(4){
  margin: 0 auto;
  flex-shrink: 0;
  width: 600px;
}
.link{
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}
.link:hover{
  color: #fff;
  text-decoration: none;
}
.logo{
  margin-top: 5px;
}
.formSubmit{
  display: flex;
  flex-shrink: 1;
}
.logoLoupe{
  width: 20px;

}
.inputRecherche{
  width: 50%;
  background-color: #fff;
  border: 2px solid #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.linkNav button{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 4px 20px;
  border: none;
}
.menuResBtn{
  display: flex;
  position: fixed;
  top: 10px;
  right: 20px;
  color: #fff;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.menuIco{
  width: 25px;
}
@media screen and (max-width: 950px) {
  .linkNav:nth-child(4){
    width: 550px;

  }
}
@media screen and (max-width: 900px) {
  .listMenu{
    flex-direction: column;
    height: 250px;
    padding-top: 50px;
  }
  .linkNav{
    height: 100px;
    background: #6441a4;
    width: 100%;

  }
  .linkNav:nth-child(4){
    width: 100%!important;
    padding: 10px 0 20px 0;
  }
  .formSubmit{
    justify-content: center;
  }
  .menuResBtn{
    display: block!important;
    z-index: 1000;

  }
}
/*
//////////////////////////////////
Header
//////////////////////////////////
*/
.sidebar{
  position: fixed;
  top: 50px;
  width: 239px;
  background: #19171c;
  height: 100vh;
}
.titlesidebar{
  padding: 30px 0 20px 0;
  color: #efebf5;
  font-size: 15px;
  font-weight: 500;
}
.listStreams{
  padding: 0 0 0 10px;
  color: #efebf5;
}
.containerFlexItem{
  padding: 10px 15px 8px 5px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}
.containerFlexItem:hover{
  background: rgba(255, 255, 255, 0.2) ;
}
.profilePicRonde{
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
.streamUser{
  color: #f1f1f1;
  flex-basis: 50%;
  overflow: hidden;
  text-align: left;
}
.viewerRight{
 color: #aeabb6;
 flex-basis: 30%;
 display: flex;
 justify-content: flex-end;
}
.pointRouge{
  width: 5px;
  height: 5px;
  border-radius: 50%;
  margin-top: 6px;
  margin-right: 3px;
  background-color: crimson;

}
.gameNameSidebar{
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 color: #aeabb6;
 text-align: left;
 margin-top: 5px;
}

@media screen and (max-width: 1200px) {
  .sidebar{
    display: none;
  }
}

/*
//////////////////////////////////
Games
//////////////////////////////////
*/

.titleGames{
padding: 90px 0 50px 260px;
font-size: 50px;
font-weight: 300;
}
.flexHome{
display: flex;
flex-wrap: wrap;
justify-content: center;
padding-left: 260px;
}
.cardGame{
height: 480px;
width: 280px;
margin: 0 30px 30px 0;
position: relative;
transition: all 0.4s;
border-radius: 10px;
box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);
}
.cardGame:hover{
  transform: translateY(-5px);
}
.imgCard{
width: 100%;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.bodyCardGame{
height: 144px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-evenly;
}
.titleCardGame{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-size: 18px;
  font-weight: 500;
}
.btnCard{
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #212529;
  font-size: 14px ;
  line-height: 1.125;
  border-radius: 5px;
  padding: 2px 5px;
  cursor: pointer;
}
.btnCard:hover{
  text-decoration: none;
  color: #fff;
}
@media screen and (max-width: 1200px) {
  .titleGames{
    padding-left: 0;
  }
  .flexHome{
    padding-left: 30px;
  }
}
@media screen and (max-width: 600px) {
  .titleGames{
    font-size: 40px;
  }
}
@media screen and (max-width: 559px) {
  .cardGame{
    margin: 0 0 30px 0;
  }
  .flexHome{
    padding-left: 0;
  }
}
/*
//////////////////////////////////
Stream
//////////////////////////////////
*/
.cardStream{
  height: 420px;
width: 320px;
margin: 0 30px 30px 0;
position: relative;
transition: all 0.4s;
border-radius: 10px;
box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);

}
.cardStream:hover{
  transform: translateY(-5px);
}
.bodyCardStream{
  height: 180px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
}
.titleCardStream{
  font-size: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
}
.textStream{
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80%;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}
.viewers{
 margin-bottom: 20px;
}
@media screen and (max-width: 559px) {
  .cardStream{
    margin: 0 0 30px 0;
  }
}
/*
//////////////////////////////////
Live
//////////////////////////////////
*/
.containerDecale{
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 239px;
}
.contInfo{
  color: #19171c;
  display: grid;
  height: 156px;
  width: calc(100% - 340px);
  grid-template: repeat(3, 35px) / 1fr 1fr;
  margin-top: 5px;
}
.titleStream{
  grid-area: 1 / 1 / 2 /3;
  text-align: left;
  margin-left: 5px;
  font-weight: 400;
  font-size: 20px;
}
.viewer{
  grid-area: 1 / 2 / 2 /3;
  text-align: right;
  color: crimson;
  font-weight: 600;
  margin: 3px 5px;
}
.infoGame{
  grid-area: 2 / 1 / 3 /3;
  text-align: left;
  margin-left: 5px;
  font-weight: 400;
  font-size: 20px;
}
.nameGame{
  grid-area: 3 / 1 / 4 /3;
  text-align: left;
  margin-left: 5px;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width: 1200px) {
  .containerDecale{
    padding-left: 0;
  }
  .contInfo{
    width: calc(100%);
  }
  .viewer{
    margin: 5px 25px 0 0;
  }
}
@media screen and (max-width: 630px) {
  .contInfo{
    grid-template: 45p 35px 35px 35px / 1fr 1fr ;
  }
  .titleStream, .nameGame, .infoGame, .viewer{
    font-size: 14px;
  }
  .viewer{
    margin: 0 0 0 5px;
    grid-area: 4 / 1 / 5 / 2;
    text-align: left;
  }


}

/*
//////////////////////////////////
Game stream
//////////////////////////////////
*/
.titleGameStreams{
  padding: 100px 0 10px 260px;
  font-size: 53px;
  font-weight: 300;

}
.subtitleGameStreams{
font-size: 25px;
font-weight: 300;
padding: 0 0 50px 260px;
}
.textColorRed{
color: #6441a4;
}
.cardGameStreams{
  height: 380px;
  width: 320px;
  margin: 0 30px 30px 0;
  transition: all 0.4s;
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(0, 0, 0, 0.75);
}
.cardGameStreams:hover{
  transform: translateY(-5px);
}
.bodyCardGameStreams{
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 1200px) {
  .titleGameStreams{
    padding-left: 0;
    font-size: 30px;
  }
  .subtitleGameStreams{
    font-size: 17px;
    padding-left: 0;
    padding-bottom: 50px;
  }

}

@media screen and (max-width: 559px) {
  .cardGameStreams{
    margin: 0 0 30px 0;
  }
}
/*
//////////////////////////////////////////
PARTIE RESULTATS
////////////////////////////////
*/

.containerDecaleResultats {
  overflow-x: hidden;
  padding-top: 50px;
  padding-left: 239px;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.containerDecaleResultats h4 {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 24px;
}
.cardResultats {
  height: 580px;
  width: 350px;
  margin-bottom: 35px;
  position: relative;
  transition: all 0.4s;
  /* Proprietes bootstrap */
  border-radius: 10px;
  box-shadow: 2px 11px 36px -16px rgba(0,0,0,0.75);
  margin-top: 20px;
}
.bodyCardResultat {
  height: 230px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.bodyCardResultat .btnCard{
  align-self: flex-end;
}

.textResultat {
  font-weight: 500;
  font-size: 16px;
  font-weight: 400;
}
.btnResultat {
  background: rgb(255, 191, 0);
  color: #000;
  font-size: 17px;
}
.btnResultat:hover {
  color: #000;
}

/* Custom */
@media screen and (max-width:1200px) {
  .containerDecaleResultats {

    overflow-x: hidden;
    padding-top: 0px;
    padding-left: 0px;

  }
  .containerDecaleResultats h4 {
    padding-top: 100px;
  }

}
@media screen and (max-width:600px) {
  .containerDecaleResultats h4 {

    padding-bottom: 20px;
    font-size: 16px;
  }
  .carteResultats {
    height: 580px;
    width: 300px;

  }
}
.spanTxt {
  color: #000!important;
}
.titreResultats {
 padding-top: 50px;
}
